.sponsor-article-ad-auto {
    margin-top: 14px;
    margin-bottom: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #18191a;
    border-radius: 8px;
    height: auto;
    border: 2px solid var(--sponsor-color);
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
}

.sponsor-article-ad-auto span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
} 

.sponsor-article-ad-auto b {
  color: var(--text-color);
} 

.sponsor-article-ad-auto-inner {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

.sponsor-article-ad-auto:hover {
    background-color: black;
}

.sponsor-article-ad-auto img {
    width: 60px !important;
    height: 60px;
    aspect-ratio: 1;
    border-radius: 5px;
}

.sponsor-article-ad-auto b {
    font-size: 20px;
}

.sponsor-article-ad-auto .sponsor-article-ad-auto-text {
    padding-left: 8px;
}

.sponsor-article-ad-auto .sponsor-article-ad-auto-text p {
    color: var(--text-color);
}

.sponsor-article-ad-auto .sponsor-article-ad-auto-header {
    background-color: var(--sponsor-color);
    margin-top: -28px;
    margin-left: -4px;
    margin-bottom: 8px;
    width: 63px;
    font-weight: bold;
    color: black;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 6px;
    line-height: 19px;
}