body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    overflow-wrap: break-word;
}

body {
  --bg-color: #ffffff;
  --text-color: #000000;
  --bold-color: #000000;
  --detail-color: #4e4e4e;
  --strong-color: #f38d03;
  --code-bg-color: #fff;
  --generic-button-text-color: #ffffff;
  --generic-button-bg-color: #4e4e4e;
}

body.dark-theme {
  --bg-color: #18191a;
  --text-color: #e2e4e9;
  --bold-color: #ffffff;
  --detail-color: #b0b3b8;
  --strong-color: #f38d03;
  --code-bg-color: #000000;
  --generic-button-text-color: #4e4e4e;
  --generic-button-bg-color: #fff;
}

body {
  background: var(--bg-color);
}

.hidden {
  display:none;
  background-color: rgba(0, 0, 0, 0);
}

.detail {
  color: var(--detail-color);
}

.detail b {
  color: var(--detail-color);
}
	
html {
    position: relative;
    min-height: 100%;
}

a {
    color: var(--strong-color);
    text-decoration: underline;
}

ul {
  color: var(--text-color);
}

a:hover,
a:focus,
a:active {
    outline: none;
    color: var(--detail-color);
}

b {
    font-weight: 700;
    color: var(--bold-color);
}

button {
    background-color: transparent;
}

*:focus {
    outline: 0;
}

#main {
    margin: 24px 0;
}

.button {
    font-size: 16px;
}

.about-fixed {
    margin-top: 24px !important;
    margin: 0 auto;
}

.my-pic {
    text-align: center;
}

.my-pic img {
    max-width: 235px;
    width: 100%;
}

.my-detail {
    margin-bottom: 30px;
}

.separator {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 0;
    font-size: 14px;
    padding-bottom: .3em;
    margin-bottom: 10px !important
}

.my-detail span {
    color: var(--text-color);
    font-weight: 300;
    font-size: 12px;
}

div.blog-header {
    border-bottom: 1px solid #ccc;
}

.blog-header-container {
    position: relative; 
    margin-top: 20px;
    margin-bottom: 12px !important;
    margin-left: -15px;
    margin-right: -15px;
}

.header-text a {
    position: absolute;
    font-size: 48px;
    font-weight: 400;
    margin-top: -75px !important;
    margin-left: 116px !important;
    font-family: 'PT Sans', sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

.header-detail {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px !important;
    margin-left: 116px !important;
}

h1 {
    color: var(--text-color);
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 5px !important;
}

h2 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px !important;
}

h3 {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px !important;
}

div.blog-post {
    margin-bottom: 15px;
}

.blog-post .post-title a {
    text-decoration: none;
}

.next-article a {
    color: var(--text-color);
    text-decoration: none;
}

.blog-post .post-title a:hover {
    text-decoration: underline;
}

.next-article a:hover {
    text-decoration: underline;
}

.blog-post .post-title-index a {
    text-decoration: none;
}

.blog-post .post-title-index a:hover {
    text-decoration: underline;
}

.blog-post .post-title-index strong {
    color: var(--text-color);
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 5px !important;
    margin-top: 20px;
    line-height: 1.1;
    font-family: inherit;
    display: block;
}

.footer strong {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5px !important;
    line-height: 1.1;
    font-family: inherit;
    display: block;
    margin-top: 8px;
}

.footer h3 {
  margin-bottom: 4px !important;
}

.blog-post .post-image {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    text-align: center;
}

.blog-post .post-image img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.blog-post .post-image p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.blog-post .post-image a {
    font-weight: 600;
}

code {
    padding-left: 4px !important;
    padding-right: 4px !important;
    color: var(--strong-color);
    background-color: var(--code-bg-color);
    font-weight: bold;
}

.blog-post pre {
    white-space: pre;
    word-wrap: normal;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.blog-post pre code {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.blog-post .post-info {
    font-size: 11px;
    padding: 0px 0px 20px 0px;
    color: var(--detail-color);
}

p {
    font-size: 15px;
    color: var(--text-color);
}

.footer p {
    color: var(--detail-color);
}

/* Blockquote */

.post-quote {
    background: var(--strong-color);
    color: #f6f8f8;
    width: 70%;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
}

.post-quote blockquote {
    margin: 0;
    padding: 40px;
    font-style: italic;
    font-size: 15px;
    line-height: 30px;
    border: 0;
}

.post-quote blockquote:after {
    content: '\f10e';
    font-family: 'fontawesome';
    display: inline-block;
    float: right;
    color: var(--detail-color);
    font-size: 35px;
    position: relative;
    right: 0px;
    top: -15px;
    font-style: normal;
    opacity: .2;
}

blockquote {
    color: var(--text-color);
    border-left: 5px solid var(--strong-color);
}

.social-icon {
  display: flex;
  justify-content: space-between;
}

.social-icon:before,
.social-icon:after {
  content: " ";
  display: table;
}

.social-icon:after {
  clear: both;
}

.social-icon a {
  display: inline-block;
  text-align: center;
  width: 48px;
  height: 48px;
  line-height: 49px;
  color: #fff;
  border: 0 none;
  border-radius: 50%;
  font-size: 22px;
}

div.footer {
  border-top: 1px solid #ccc;
  padding-top: 12px;
}

div.footer-links {
  display: block;
}

.footer-links a {
  margin-top: 8px;
  border: 0 none;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  white-space: nowrap;
  line-height: 38px;
}

.footer-links .share {
  color: #ffffff;
  background-color: #1da1f2;
}

.footer-links .share:hover {
  color: #1da1f2;
  background-color: #ffffff;
}

.footer-links .see-all {
  color: #ffffff; 
  background-color: var(--strong-color);
}

.footer-links .see-all:hover {
  color: var(--strong-color); 
  background-color: #ffffff;
}

.footer-links .newsletter {
  color: var(--generic-button-text-color);
  background-color: var(--generic-button-bg-color);
}

.footer-links .newsletter:hover {
  color: var(--generic-button-bg-color);
  background-color: var(--generic-button-text-color);
}

.footer-links .sponsor {
  color: #ffffff; 
  background-color: #ff8e00;
}

.footer-links .sponsor:hover {
  color: #ff8e00; 
  background-color: #ffffff;
}

div.about-links {
  display: grid;
  width: 100%;
}

.about-links a {
  margin-top: 8px;
  border: 0 none;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.about-links .newsletter {
  color: var(--generic-button-text-color);
  background-color: var(--generic-button-bg-color);
}

.about-links .newsletter:hover {
  color: var(--generic-button-bg-color);
  background-color: var(--generic-button-text-color);
}

.about-links .sponsor {
  color: #ffffff; 
  background-color: #ff8e00;
}

.about-links .sponsor:hover {
  color: #ff8e00; 
  background-color: #ffffff;
}

.facebook {
   background-color: #3b5998;
}

.rss {
   background-color: #f26522;
}

.twitter {
   background-color: #1da1f2;
}

.google-plus {
   background-color: #dd4b39;
}

.instagram {
   background-color: #464545;
}

.linkedin {
   background-color: #0077b5;
}

.pinterest {
   background-color: #bd081c;
}

.youtube {
   background-color: #cd201f;
}

.vimeo {
   background-color: #1ab7ea;
}

.dribbble {
   background-color: #ea4c89;
}

.behance {
   background-color: #1769ff;
}

.flickr {
   background-color: #ff0084;
}

.tumblr {
   background-color: #35465c;
}

.foursquare {
   background-color: #f94877;
}

.github {
   background-color: #333333;
}

.skype {
   background-color: #00aff0;
}

.syntaxhighlighter {
    overflow: hidden;
}

.syntaxhighlighter .toolbar .item.printSource {
    display: none !important;
}